body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed #CCC;
  color: #009;
}

footer {
  text-align: center;
  margin: 8vh 0;
  font-size: 70%;
}

.main {
  min-width: 600px;
  margin: auto 2rem;

  h1 {
    margin: 3rem 0;
    font-size: 140%;
  }

  h2 {
    margin: 3em 0 4em 0;
    padding-left: 10px;
    font-size: 105%;
    font-weight: normal;
  }
}

.section {
  margin: 5vh 0 8vh 0;
  border-left: 0.5px solid #eee;

  .description {
    margin: 0 2vw;
    line-height: 1.5em;
    font-size: 80%;
    color: #999;

    ul {
      margin-bottom: 0.5em;
      padding-left: 1.5em;
    }
  }
}

@media screen
  and (min-device-width: 1025px) {
  .main {
    max-width: 600px;
    margin: auto;

    h1 {
      margin: 10vh 0 14vh 0;
      text-align: center;
    }
    h2 {
      padding: 0;
      text-align: center;
    }
  }

  .section {
    .chart {
      width: 600px;
    }

    .description {
      padding: 1.5em 3em;
    }
  }
}

.note {
  font-size: 90%;
}

.axis.y {
  .tick line, .domain {
    display: none;
  }
}

.line {
  fill: none;
  stroke-width: 0.7px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

#line-chart-total-foreign, #line-chart-total-local {
  .x.axis {
    .domain {
      display: none;
    }
    .tick {
      line {
        stroke: #999;
      }
      text {
        fill: #999;
      }
    }
  }
}
